@import url('https://fonts.googleapis.com/css2?family=Kavoon&display=swap');

:root {
  --primary: #19987e;
  --secondary: rgba(211, 215, 32, 1) 14%;
  --black: #000000d4;
}

html {
  height: 100vh;
  color: var(--black);
}

body {
  background: linear-gradient(
    176deg,
    rgba(211, 215, 32, 1) 14%,
    rgba(45, 206, 253, 1) 96%
  );
  font-family: 'Kavoon', cursive;
  margin: 0;
  padding: 0;
  height: 100%;
}

.container {
  display: flex;
  height: 100%;
  justify-content: center;
  text-align: center;
}

main .heading {
  font-size: 45px;
  padding: 20px;
  color: var(--primary);
}

main {
  padding: 5vh;
}

main .input-container {
  height: 90px;
  width: 85%;
  min-width: 500px;
  margin: 2rem auto;
}

main .input-fields {
  display: flex;
  justify-content: space-between;
  padding: 10px 0;
}

main .input-fields label {
  width: 45%;
  font-size: 25px;
  text-align: justify;
}

main .input-fields input {
  width: 55%;
  height: 25px;
  font-weight: 600;
  color: var(--primary);
}

main .input-fields input::placeholder {
  color: var(--primary);
}

main .input-fields input:focus-visible {
  outline: none;
  border: 2px solid var(--primary);
}

main .check-btn {
  font-size: 19px;
  width: 110px;
  padding: 6px;
  margin: 15px auto 0;
  background-color: var(--primary);
  box-shadow: 0px 0px 5px black;
  font-family: inherit;
  border: none;
  border-radius: 2px;
  color: #000000d4;
}

main .output-container {
  margin: 20px auto 0;
  padding: 5vh;
  width: 60%;
}

main .output-result {
  background-color: #d3d32db3;
  border: 1px solid var(--primary);
  color: var(--primary);
  padding: 10px;
  border-radius: 7px;
  font-size: 25px;
}
